/* src/components/UI.css */

/* Fullscreen container */
.pdf-viewer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 140vh;
    background-color: #f5f5f5; /* Light background */
    font-family: 'Arial', sans-serif;
  }
  
  /* Rounded border for PDF canvas */
  .pdf-canvas-container {
    width: 75%;
    height: auto;
    background: #000000;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .pdf-canvas {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Button styles */
  .pdf-button {
    background-color: #351a05;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .pdf-button:hover {
    background-color: #351a05;
  }
  
  /* Page number display */
  .page-number {
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
    color: #333;
  }
  